* {
	box-sizing: border-box;
}

:root {
	--fonts: star, gaegu-r, arial;
}

html {
	margin: 0px;
	padding: 0px;
}

body {
	background: url("assets/bg/2.png");
	background-size: cover;
	font-family: var(--fonts);
	margin: 0px;
	font-size: 17px;
	word-break: keep-all;
}

#wrapper {
	display: grid;
	grid-template-areas:
		"filler-1 logo logo filler-2"
		"filler-1 notebook notebook filler-2";
	grid-template-rows: 100px 650px;
	grid-template-columns: 14% 36% 36% 14%;
	max-width: 1460px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#logo {
	grid-area: logo;
	text-align: center;
	overflow: visible;
	z-index: 10;
}

#logo img {
	position: relative;
	max-width: 600px;
	top: -100px;
	pointer-events: none;
}

#filler-1 {
	grid-area: filler-1;
	border: 1px solid pink;
	background: white;
}

#filler-2 {
	grid-area: filler-2;
	border: 1px solid pink;
	background: white;
}

#filler-1,
#filler-2 {
	margin: 40px 15px;
	top: 40px;
	text-align: center;
	padding: 5px;
	overflow: auto;
}

/*notebook*/

#notebook {
	grid-area: notebook;
	background: url("assets/pages/notebook-cover.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	padding: 30px;
}

/*
.wrapper:after {
	content: url(https://doqmeat.neocities.org/!g/web/materials/spiral-test4.png);
	position: absolute;
	z-index: 10;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	top: 68%;
	left: 50%;
	pointer-events: none;
}
*/

#tab1 {
	flex: 2%;
}

#tab2 {
	flex: 2%;
}

#notebook-pages {
	flex: 90%;
	display: grid;
}

.wrapper {
	display: flex;
}

.page {
	display: inline-flex;
	width: 49.5%;
	border: 1px solid pink;
	vertical-align: top;
	height: 100%;
	margin-right: 63px;
	overflow: hidden;
}

.page.right {
	margin: 0px;
}

.inner {
	border: 1px solid lightgreen;
	margin: 10px;
	padding: 5px;
	width: 100%;
	height: 97%;
	overflow: auto;
}

.inner-right {
	margin: 30px;
	padding: 5px;
	width: 100%;
	height: 520px;
	overflow: auto;
}

#tab1 button,
#tab2 button {
	display: block;
	font-family: var(--fonts);
	font-size: 15px;
	border: none;
	text-orientation: mixed;
	margin: 23px 0px;
	height: 100px;
	width: 30px;
	transition-duration: 0.5s;
}

#tab1 button:hover,
#tab2 button:hover {
	width: 40px;
}

#tab1 button:focus,
#tab2 button:focus {
	width: 40px;
}

#tab1 button {
	padding-right: -5px;
	background: url(assets/tab/2.png);
	background-size: 105px;
	writing-mode: sideways-lr;
	float: right;
	border-right: none;
}

#tab2 button {
	background: url(assets/tab/2-reverse.png);
	background-size: 105px;
	background-position: right;
	writing-mode: vertical-lr;
	float: left;
	border-left: none;
}

@font-face {
	font-family: gaegu-r;
	src: url("assets/fonts/Gaegu-Regular.ttf");
}

@font-face {
	font-family: star;
	src: url("assets/fonts/Stars_font.ttf");
}

@media only screen and (max-width: 1450px) {
	#tab1 button:hover,
	#tab2 button:hover {
		width: 33px;
	}

	#tab1 button:focus,
	#tab2 button:focus {
		width: 33px;
	}

	#tab1 button,
	#tab2 button {
		margin: 15px 0px;
	}
}

@media only screen and (max-width: 1250px) {
	#notebook {
		background-size: 840px;
	}

	.inner {
		height: 88%;
		margin-top: 40px;
	}

	#tab1,
	#tab2 {
		margin-top: 40px;
	}
}

@media only screen and (max-width: 1130px) {
	#notebook {
		background-size: 760px;
	}

	.inner {
		height: 82%;
		margin-top: 50px;
	}

	#tab1 button,
	#tab2 button {
		margin: 10px 0px;
	}

	#tab1,
	#tab2 {
		margin-top: 50px;
	}

	#logo img {
		position: relative;
		max-width: 600px;
		top: -80px;
		pointer-events: none;
	}
}

@media only screen and (max-width: 1080px) {
	#wrapper {
		display: block;
		max-width: 1460px;
		margin: auto;
		margin-top: 0px;
		margin-bottom: 50px;
	}

	#notebook {
		background-size: contain;
		background-position: top;
		border: 1px solid black;
		height: 100%;
	}

	#tab1,
	#tab2 {
		margin-top: 0px;
	}

	#tab1 button,
	#tab2 button {
		margin: 23px 0px;
	}

	#tab1 button:hover,
	#tab2 button:hover {
		width: 37px;
	}

	#tab1 button:focus,
	#tab2 button:focus {
		width: 37px;
	}

	.inner {
		height: 95%;
		margin-top: 10px;
	}

	#logo img {
		max-width: 600px;
		top: 0px;
	}

	#filler-1,
	#filler-2 {
		margin: 15px 20px;
	}
}

@media only screen and (max-width: 915px) {
	#notebook {
		background-size: cover;
	}
}

@media only screen and (max-width: 750px) {
}
