* {
	box-sizing: border-box;
}

html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	font-size: 16px;
}

#wrapper {
	display: grid;
	grid-template-areas:
		"filler-1 logo logo filler-2"
		"filler-1 notebook notebook filler-2";
	grid-template-rows: 100px 650px;
	grid-template-columns: 14% 36% 36% 14%;
	max-width: 1460px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid red;
}

#logo {
	grid-area: logo;
	background: lightgreen;
	text-align: center;
	overflow: visible;
	z-index: 10;
}

#logo img {
	position: relative;
	max-width: 600px;
	top: -100px;
	pointer-events: none;
}

#filler-1 {
	grid-area: filler-1;
	background: lightblue;
}

#filler-2 {
	grid-area: filler-2;
	background: lightpink;
}

#filler-1,
#filler-2 {
	margin: 40px 0;
	top: 40px;
}

/*notebook*/

#notebook {
	grid-area: notebook;
	background: lightyellow;
	display: flex;
	padding: 30px;
}

#tab1 {
	flex: 1%;
}

#tab2 {
	flex: 1%;
}

#notebook-pages {
	flex: 87%;
	display: grid;
}

.wrapper {
	display: flex;
}

.page {
	display: inline-flex;
	width: 49.5%;
	background: white;
	border: 1px solid pink;
	vertical-align: top;
	height: 100%;
	margin-right: 10px;
}

.page:last-child {
	margin: 0px;
}

.inner-left {
	margin: 30px;
	padding: 5px;
	height: 520px;
	overflow: auto;
}

.inner-right {
	margin: 30px;
	padding: 5px;
	height: 520px;
	overflow: auto;
}

#tab1 button,
#tab2 button {
	display: block;
	font-family: ms gothic;
	border: 1px dashed black;
	background: white;
	text-orientation: mixed;
	padding: 10px;
	margin: 23px 0px;
	height: 100px;
}

#tab1 button {
	writing-mode: sideways-lr;
	float: right;
	border-right: none;
}

#tab2 button {
	writing-mode: vertical-lr;
	float: left;
	border-left: none;
}

@media only screen and (max-width: 1300px) {
	body {
		background: red;
	}
}
